<h3> <%#= @user.email %> </h3>

  <div class="row">
    <div class="col-md-6">
      <p id="index-title"></p>

      <h3>Create a New To-Do Item</h3>
      <%= render partial: 'items/form' %>


    <div class="col-md-6">

      <h3>Current Items:</h3>
    <%# @items.each do |item| %>
      <%#= render partial: 'items/item', locals: { item: item } %>
    <%# end %>
