<div class="jumbotron center">

  <h1 class="banner" id="banner">Blocitoff</h1>

    <h2>A self-destructing to-do list to keep you focussed.</h2>
    <%= link_to'Sign Up Now', new_user_registration_path, :class => "btn btn-lg" %> <!-- btn-primary -->

</div>
