<div class="field">
  <%= form_for :items, url: user_items_path(user_id: @user.id), method: :post do |f| %>
  <div class="form-group">
    <%= f.text_field :name, autofocus: true, placeholder: "Enter a new Item"%>
  </br>
</br>
  <%= f.submit "Submit", class: "btn" %> <!--submit-btn-sign-up-->
</div>
<% end %>
</div>
