<div class="field">
  <% items.each do |item| %>
  <p class="list">
    <div class="item-name"><%= "#{item.name } #{item.completed ? 'done' : 'pending'}"%> </div>
      <%= link_to "", user_item_toggle_path(@user, item), method: :put, class: 'complete-icon glyphicon glyphicon-ok', title:"mark item as complete", remote: true %>
      <small class="time-ago">created <%= distance_of_time_in_words(Time.now, item.created_at) %> ago</small>
        <%= link_to "", user_item_path(user_id: @user.id, id: item.id), method: :delete, class: 'complete-icon glyphicon glyphicon-remove',title:"mark item as complete", remote: true %>
  </p>
  <% end %>

</div>
