<h4 class='list-group-item-heading'>
    <%= item.name %>
    <%= link_to "", "/users/#{current_user.id}/items/#{item.id}", method: :delete, class: 'glyphicon glyphicon-remove' %></h4>
    <h5>You have <%= distance_of_time_in_words(Time.now, item.created_at + 160.hours) %> remaining.</h5>
</div>
