<!--<div class="list-group-item">
  <h4 class='list-group-item-heading'>--><%#= item.name %>
  <%#= link_to "", user_item_path(item.id, user_id: current_user.id), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>



<!--<div id="item-check" class="media">
  <div class="d-flex align-self-start mr-3">
    <div class="media-body">
      <h4 class="mt-0">-->
      <%#= item.name %>
      <!--</h4>
    </div>
  </div>
</div>-->

<div class="list-group-item">

  <h4 class='list-group-item-heading'>
    <%= item.name %>
    <%= link_to "", "/users/#{current_user.id}/items/#{item.id}", method: :delete, class: 'glyphicon glyphicon-remove' %></h4>
</div>
