@import "bootstrap-sprockets";
@import "bootstrap";


.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('genealogy.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: orange;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn {
  background-color: darkorange;
}

.btn:hover {
  color: black;
  text-decoration: none;
}
